@model UomoMacchina.Areas.Rimborsi.Data.RimborsiViewModel
@inject IHtmlLocalizer<UomoMacchina.Areas.Rimborsi.Data.RimborsiViewModel> ModelLocalizer

@* Index di Rimborso *@

@* Pulsante creazione data*@
<ul class="navbar-nav flex-wrap ms-auto">
    <li>
        <a class="Nuovo btn btn-light ms-2" href="@Url.Action(MVC.Rimborsi.Rimborsi.New())" title="Inserisci un nuovo elemento">
            <i class="fa-solid fa-plus"></i>&nbsp;Nuovo
        </a>
    </li>
</ul>


<h5> Per la modifica ed eliminazione cliccare una riga scelta</h5>

@* Tabella Dati *@
<div class="TabellaGenerale container-lg  text-center">
    <table class="table table-hover table-sm table-striped">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Importo
                </th>
                <th>
                    Data
                </th>
                <th>
                    Commessa
                </th>
                <th>
                    Carta aziendale
                </th>
                <th>
                    Dettagli
                </th>
            </tr>
        </thead>

        <tbody>

            @if (Model.Rimborsi.Any() == false)
            {
                <tr>
                    <td colspan="3">Nessun elemento trovato con i filtri correnti</td>
                </tr>
            }
            else
            {
                @foreach (var rimborso in Model.Rimborsi)
                {
                    <tr class="onit-table-row-link" onclick="javascript:utilities.navigateUrlExcludeOnitNotNavigate('@Url.Action(MVC.Rimborsi.Rimborsi.Edit(rimborso.Id))')" title="@ModelLocalizer["Modifica utente"] @rimborso.Id">
                        <td scope="row" class="text-nowrap">
                            @rimborso.Id
                        </td>
                        <td scope="row" class="text-nowrap">
                            @rimborso.Importo
                        </td>
                        <td class="text-nowrap">
                            @rimborso.Data.ToString("d")
                        </td>
                        <td class="text-nowrap">
                            @rimborso.Commessa
                        </td>
                        <td class="text-nowrap">
                            @rimborso.CartaAziendale
                        </td>
                        <td class="text-nowrap">
                            @rimborso.Dettagli
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <nav class="navbar navbar-expand justify-content-md-center">
                        <ul class="navbar-nav flex-wrap"><partial name="@MVC.Shared.Views._PagingPartial" model="Model" /></ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
</div>



@section styles {
    <link href="~/css/richieste.css" rel="stylesheet" />
}

@section scripts{


    <script>
        var Vue
        Vue.createApp({
            data() {
                return {
                    message: 'Vue Funziona!',
                }
            },
            methods: {
                async eliminaRimborso(rimborsoId) {
                    console.log("rimborsoId", rimborsoId)
                    await fetch('/Rimborsi/Rimborsi/Edit?' + rimborsoId, {
                        method: "POST",
                    });

                }
            }
        }).mount("#pageId");
    </script>
    }