@model UomoMacchina.Areas.Main.Data.MainViewModel
@* è in questo file che visualizzo il resoconto delle Ferie, Permessi, Notti Fuori. Per il giorno selezionato *@


<nav class="navbar navbar-expand navbar-light d-flex flex-column align-items-start">

    


    <div class="row">
        <div class="col">

            <h6> Cerca Commessa </h6>

            <!-- Filtro Commessa -->
            <div class="d-flex">
                <input type="text" class="" v-model="filterCommessa" />
                <button class="btn btn-primary" type="button" v-on:click="setCommessa(filterCommessa, dataNew)">
                    Cerca
                </button>

            </div>

        </div>


        <div class="col">

            <div class="row">
                <h6> Cerca Dettagli </h6>
            </div>
            <!-- Filtro Dettagli -->
            <div class="d-flex">
                <input type="text" class="" v-model="filterDettagli" />
                <button class="btn btn-primary" type="button" v-on:click="setDettagli(filterDettagli, dataNew)">
                    Cerca
                </button>
                

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <!-- Annulla la ricerca resettando la pagina -->
            <button class="btn btn-link" type="button" title="Annulla tutti i parametri della ricerca" v-on:click="selezionaGiorno(dataNew)">
                Azzera ricerca
            </button>

        </div>

        <!-- Mi porta al login -->
        <div class="col align-self-center" role="menu">
            <a class="" href="javascript:void(0)" onclick="javascript: document.getElementById('POST_LogOut').submit()" title="@SharedLocalizer["Chiudi sessione di lavoro"]">
                <i class="fa-solid fa-right-from-bracket"></i>&nbsp;@SharedLocalizer["Esci"]
            </a>
            <form autocomplete="off" method="post" action="@Url.Action(MVC.Login.Login.Logout())" id="POST_LogOut" display="none"></form>
        </div>

    </div>

    
</nav>


<div class="col-auto">
    <div id="rendicontazioni" class="">
        <partial name="@MVC.Rendicontazioni.Rendicontazioni.Views.Index" model="Model.Rendicontazioni" />
    </div>
    <div id="ferie" class="">
        <partial name="@MVC.Ferie.Ferie.Views.Index" model="@Model.Ferie" />
    </div>
    <div id="permessi" class="">
        <partial name="@MVC.Permessi.Permessi.Views.Index" model="Model.Permessi" />
    </div>
    <div id="trasferte" class="">
        <partial name="@MVC.Trasferte.Trasferte.Views.Index" model="Model.Trasferte" />
    </div>
    <div id="nottiFuori" class="">
        <partial name="@MVC.NottiFuori.NottiFuori.Views.Index" model="Model.NottiFuori" />
    </div>
    <div id="rimborsi" class="">
        <partial name="@MVC.Rimborsi.Rimborsi.Views.Index" model="Model.Rimborsi" />
    </div>
</div>

