
@model UomoMacchina.Areas.Ferie.Data.FerieViewModel

@inject IHtmlLocalizer<UomoMacchina.Areas.Ferie.Data.FerieViewModel> ModelLocalizer
@* Index Ferie *@

@* Pulsante creazione data*@
<ul class="navbar-nav flex-wrap ms-auto">
    <li>
        <a class="btn btn-light ms-2" href="@Url.Action(MVC.Ferie.Ferie.New())" title="Inserisci un nuovo elemento">
            <i class="fa-solid fa-plus"></i>&nbsp;Nuovo
        </a>
    </li>
</ul>

<h5> Per la modifica ed eliminazione cliccare una riga scelta</h5>

@* Tabella Dati *@
<div class="TabellaGenerale container-lg  text-center">
    <table class="table table-hover table-sm table-striped">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Data inizio
                </th>
                <th>
                    Data fine
                </th>
                <th>
                    Dettagli
                </th>
                <th>
                    Dettagli
                </th>
            </tr>
        </thead>

        <tbody>

            @if (Model.Ferie.Any() == false)
            {
                <tr>
                    <td colspan="3">Nessun elemento trovato con i filtri correnti</td>
                </tr>
            }
            else
            {
                @foreach (var ferie in Model.Ferie)
                {
                    <tr class="onit-table-row-link" onclick="javascript:utilities.navigateUrlExcludeOnitNotNavigate('@Url.Action(MVC.Ferie.Ferie.Edit(ferie.Id))')" title="@ModelLocalizer["Modifica utente"] @ferie.Id">
                        <td scope="row" class="text-nowrap">
                            @ferie.Id
                        </td>
                        <td scope="row" class="text-nowrap">
                            @ferie.DataInizio.ToString("d")
                        </td>
                        <td class="text-nowrap">
                            @ferie.DataFine.ToString("d")
                        </td>
                        <td class="text-nowrap">
                            @ferie.Durata
                        </td>
                        <td class="text-nowrap">
                            @ferie.Dettagli
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <nav class="navbar navbar-expand justify-content-md-center">
                        <ul class="navbar-nav flex-wrap"><partial name="@MVC.Shared.Views._PagingPartial" model="Model" /></ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
</div>



@section styles {
    <link href="~/css/richieste.css" rel="stylesheet" />
}

@section scripts{


    <script>
        var Vue
        Vue.createApp({
            data() {
                return {
                    message: 'Vue Funziona!',
                }
            },
            methods: {
                async eliminaRendicontazione(feriaId) {
                    console.log("feriaId", feriaId)
                    await fetch('/Ferie/Ferie/Edit?' + feriaId, {
                        method: "POST",
                    });

                }
            }
        }).mount("#pageId");
    </script>
    }