@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UomoMacchina.Areas.Ferie.Data.FerieViewModel
@{
}
@* Index Ferie *@

<ul class="navbar-nav flex-wrap ms-auto">
    <li>
        <a class="btn btn-light ms-2" href="@Url.Action(MVC.Ferie.Ferie.New())" title="Inserisci un nuovo elemento">
            <i class="fa-solid fa-plus"></i>&nbsp;Nuovo
        </a>
    </li>
</ul>

<div class="container-lg text-primary">
    @if (Model.Ferie.Any() == false)
    {
        <tr>
            <td colspan="3">Nessun elemento trovato con i filtri correnti</td>
        </tr>
    }
    else
    {
        @foreach (var ferie in Model.Ferie)
        {

            <p>@ferie.DataInizio</p>
            <p>@ferie.DataFine</p>
            <p>@ferie.Durata</p>
            <p>@ferie.Dettagli</p>


            <div class="Prototipo container-lg text-primary">
                <div class="container-sm text-primary">
                    <PROVA></PROVA>
                    <h1 v-if="prova">ciao</h1>

                    <!-- Data inizio -->
                    @* <div class="col-md-4 position-relative">
            <label asp-for="@ferie.DataInizio" class="form-label">Data inizio:</label>
            <input type="date" class="form-control" asp-for="@ferie.DataInizio" value="@ferie.DataInizio.ToString("yyyy-MM-dd")" required :disabled="Tipologia === '1'">
            </div> *@

                    <!-- Dettagli -->
                    <div class="mb-3">
                        <label asp-for="@ferie.Dettagli" class="form-label">Dettagli:</label>
                        <textarea class="form-control" asp-for="@ferie.Dettagli" required>@ferie.Dettagli</textarea>
                    </div>


                </div>
            </div>

        }
    }
</div>
@section scripts {
    <script type="module">
        // var Vue
        // var vuecal
        var prova = false
        // export default Vue.defineComponent({
        //     name: "PROVA",
        //     data() {
        //         return {
        //             message: 'siamo in main.ts!'
        //         }
        //     },
        //     computed: {
        //         greeting() {
        //             return this.message
        //         }
        //     },
        //     components: {
        //         VueCal: vuecal
        //     },

        //     mounted() {
        //         console.log("sono in mounted")
        //         this.greeting // type: string
        //     }
        // })
        // export default Vue.defineComponent({
        //     // type inference enabled
        //     props: {
        //         name: String,
        //         msg: { type: String, required: true }
        //     },
        //     data() {
        //         return {
        //             count: 1
        //         }
        //     },
        //     mounted() {
        //         this.name // type: string | undefined
        //         this.msg // type: string
        //         this.count // type: number
        //     }
        // })
    </script>

}
@section styles {
    <link href="~/css/richieste.css" rel="stylesheet" />
}
