@model UomoMacchina.Areas.Permessi.Data.PermessiViewModel
@{
}

@* Index Permessi *@

<ul class="navbar-nav flex-wrap ms-auto">
    <li>
        <a class="btn btn-light ms-2" href="@Url.Action(MVC.Permessi.Permessi.New())" title="Inserisci un nuovo elemento">
            <i class="fa-solid fa-plus"></i>&nbsp;Nuovo
        </a>
    </li>
</ul>

<div class="TabellaGenerale container-lg  text-center">
    @if (Model.Permessi.Any() == false)
    {
        <tr>
            <td colspan="3">Nessun elemento trovato con i filtri correnti</td>
        </tr>
    }
    else
    {
        <div class="TabellaPrincipale row text-center">   
            <div class="colonne col-2">
                Data
            </div>
            <div class="colonne col-2">
                Ora inizio
            </div>
            <div class="colonne col-2">
                Ora fine
            </div>
            <div class="colonne col-2">
                Durata
            </div>
            <div class="colonneUltima col-4">
                Dettagli
            </div>
        </div>

        @foreach (var permesso in Model.Permessi)
        {
            @* <div class="TabellaDati container-lg text-center border-5">
                
            </div> *@
            <div class="TabellaDati row text-center">
                <div class="colonne col-2 ">
                    @permesso.Data.ToString("d")
                </div>
                <div class="colonne col-2">
                    @permesso.OraInizio.ToString("HH:mm")
                </div>
                <div class="colonne col-2">
                    @permesso.OraFine.ToString("HH:mm")
                </div>
                <div class="colonne col-2">
                    @permesso.Durata
                </div>
                <div class="colonneUltima col-4">
                    @permesso.Dettagli
                </div>
            </div>
        }
    }
</div>


}
@section styles {
    <link href="~/css/richieste.css" rel="stylesheet" />
}
