@model UomoMacchina.Areas.Main.Data.AnnoViewModel
@{
    var today = DateTime.Now;
    var nomeMeseAttuale = today.ToString("MMMM");
}

<nav class="navbar nav d-flex flex-column justify-content-center">
    @foreach (var mese in Model.Mesi)
    {

        <!--Gli altri mesi non visualizzati-->
        @if (mese.NomeMese == nomeMeseAttuale)
        {
            <div id="sidebar-menu" class="mesi d-flex w-100 justify-content-between">

                <button class="arrow m-0 p-0" id="prevMonth" v-on:click="prevMonth()">
                    <i class="fa-solid fa-caret-left fa-2x"></i>

                </button>
                <div class="">
                    <h3 class="m-0" id="monthDisplay">@mese.NomeMese</h3>

                </div>
                <button class="arrow m-0 p-0" id="nextMonth" v-on:click="nextMonth()">
                    <i class="fa-solid fa-caret-right fa-2x"></i>
                </button>

            </div>


            <div id="sidebar-items" class="row w-100">
                <ul class="navbar-nav d-flex flex-column col p-0 text-center" id="settimaneContainer">

                    @foreach (var settimana in mese.Settimane)
                    {
                        <li class="nav-item dropdown col weekDisplay">

                            @if (settimana.Giorni.Contains(today.Date))
                            {
                                @* nome della settimana *@
                                <a class="nav-link show" v-on:click="selezionaSettimana('@settimana.Giorni.FirstOrDefault().ToString("yyyy-MM-dd")')" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                    @settimana.Nome
                                </a>
                                @* ciclo per generare i giorni delle settimane *@
                                <ul class="dropdown-menu row show " data-bs-popper="static">
                                    @foreach (var giorno in settimana.Giorni)
                                    {
                                        <li class="dropdown-item dayDisplay " v-on:click.stop="selezionaGiorno('@giorno.ToString("yyyy-MM-dd")')">
                                            <a class="nav-link p-0 m-0">@giorno.ToString("dddd dd")</a>
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <a class="nav-link" v-on:click="selezionaSettimana('@settimana.Giorni.FirstOrDefault().ToString("yyyy-MM-dd")')" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @settimana.Nome
                                </a>

                                <ul class="dropdown-menu row ">
                                    @foreach (var giorno in settimana.Giorni)
                                    {
                                        <li class="dropdown-item " v-on:click.stop="selezionaGiorno('@giorno.ToString("yyyy-MM-dd")')">

                                            <a class="nav-link p-0 m-0">@giorno.ToString("dddd dd")</a>
                                            @* <p>@giorno.ToString("dddd dd")</p> *@
                                            <!-- Aggiungi ulteriori elementi dell'interfaccia utente per ogni giorno qui -->

                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
        }

    }
</nav>


<!-- Progress Bar -->
<div class="progress-stacked Prototipo" style="display: none">
    <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
        <div class="progress-bar bg-success"></div>
    </div>
    <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
        <div class="progress-bar bg-warning"></div>
    </div>
</div>
