@model UomoMacchina.Areas.Richieste.Data.RichiesteViewModel
@{
}
<ul class="navbar-nav flex-wrap ms-auto">
    <li>
        <a class="btn btn-light ms-2" href="@Url.Action(MVC.Richieste.Richieste.New())" title="Inserisci un nuovo elemento">
            <i class="fa-solid fa-plus"></i>&nbsp;Nuovo
        </a>
    </li>
</ul>






<div class="container-lg text-primary">
    @if (Model.Richiestas.Any() == false)
    {
        <tr>
            <td colspan="3">Nessun elemento trovato con i filtri correnti</td>
        </tr>
    }
    else
    {
        @foreach (var richiesta in Model.Richiestas)
        {
            <h1></h1>
            <h1>@richiesta.DataFine</h1>
            <h1>@richiesta.OraInizio</h1>
            <h1>@richiesta.OraFine</h1>
            <h1>@richiesta.Durata</h1>
            <h1>@richiesta.Dettagli</h1>
            <div class="container-lg text-primary">
                <div class="container-sm text-primary">
                    <form class="was-validated">
                        <!-- Data inizio -->
                        <div class="row">
                            <label asp-for="@richiesta.DataInizio" class="col">Data inizio:</label>
                            <input type="date" class="col" asp-for="@richiesta.DataInizio" value="@richiesta.DataInizio.ToString("dd/mm/aaa")" required>
                            @* <span asp-validation-for="DataInizio" class="text-danger"></span>
                    <span asp-validation-for="DataInizio" class="invalid-feedback">Non hai ancora inserito la data di inizio</span>
                    <span asp-validation-for="DataInizio" class="valid-feedback">Data di inizio inserita</span> *@
                        </div>

                        <!-- Dettagli -->
                        <div class="mb-3">
                            <label asp-for="@richiesta.Dettagli" class="form-label">Dettagli:</label>
                            <textarea class="form-control" asp-for="@richiesta.Dettagli" required>@richiesta.Dettagli</textarea>
                            @* <span asp-validation-for="Dettagli" class="invalid-feedback">Non hai ancora scritto i dettagli</span>
                    <span asp-validation-for="Dettagli" class="valid-feedback">Dettagli inserita</span> *@
                        </div>
                    </form>
                </div>
            </div>
            
        }
    }
</div>

@section styles {
    <link href="~/css/richieste.scss" rel="stylesheet" />
}
